<template>
  <form>
    <div class="settings-section">
      <div class="header">General</div>
      <SettingsRow name="enableBlocking" v-model="options.enableBlocking" title="Enable spoiler blocking"/>
      <SettingsRow name="hideThumbnails" v-model="options.hideThumbnails" :disabled="!options.enableBlocking" title="Hide all thumbnails"/>
      <SettingsRow name="hideSummaries" v-model="options.hideSummaries" :disabled="!options.enableBlocking" title="Hide summaries"/>
      <SettingsRow name="hideCoverImages" v-model="options.hideCoverImages" :disabled="!options.enableBlocking" title="Hide background images"/>
      <SettingsRow name="hideBanners" v-model="options.hideBanners" :disabled="!options.enableBlocking" title="Hide banner images"/>
      <SettingsRow name="hideProgressBarPreview" v-model="options.hideProgressBarPreview" :disabled="!options.enableBlocking" title="Hide playback slider previews"/>
    </div>
    <div class="settings-section">
      <div class="header">Episodes</div>
      <SettingsRow name="hideEpisodeThumbnails" v-model="options.hideEpisodeThumbnails" :disabled="!options.enableBlocking || options.hideThumbnails" title="Hide episode thumbnails"/>
      <SettingsRow name="hideEpisodeTitles" v-model="options.hideEpisodeTitles" :disabled="!options.enableBlocking" title="Hide episode titles"/>
      <SettingsRow name="hideEpisodeDescriptions" v-model="options.hideEpisodeDescriptions" :disabled="!options.enableBlocking" title="Hide episode descriptions"/>
    </div>
    <div class="settings-section">
      <div class="header">Other</div>
      <SettingsRow name="useBlur" v-model="options.useBlur" :disabled="!options.enableBlocking" title="Enable blur" description="Disabling this can drastically improve performance on slower computers and non-Chromium browsers."/>
      <SettingsRow name="mangleText" v-model="options.mangleText" :disabled="!options.enableBlocking || options.useBlur" title="Replace text with gibberish" description="Cannot be used while blur is enabled"/>
    </div>
  </form>
  <footer>
    <div>Made with ❤ by <a href="https://siphomateke.com">Sipho Mateke</a></div>
    <div class="version">v{{version}}</div>
    <br/>
    <a title="View source code on GitLab" href="https://gitlab.com/siphomateke/better-disney-plus" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="m21.94 13.11l-1.05-3.22c0-.03-.01-.06-.02-.09l-2.11-6.48a.859.859 0 0 0-.8-.57c-.36 0-.68.25-.79.58l-2 6.17H8.84L6.83 3.33a.851.851 0 0 0-.79-.58c-.37 0-.69.25-.8.58L3.13 9.82v.01l-1.07 3.28c-.16.5.01 1.04.44 1.34l9.22 6.71c.17.12.39.12.56-.01l9.22-6.7c.43-.3.6-.84.44-1.34M8.15 10.45l2.57 7.91l-6.17-7.91m8.73 7.92l2.47-7.59l.1-.33h3.61l-5.59 7.16m4.1-13.67l1.81 5.56h-3.62m-1.3.95l-1.79 5.51L12 19.24l-2.86-8.79M6.03 3.94L7.84 9.5H4.23m-1.18 4.19c-.09-.07-.13-.19-.09-.29l.79-2.43l5.82 7.45m11.38-4.73l-6.51 4.73l.02-.03l5.79-7.42l.79 2.43c.04.1 0 .22-.09.29"></path></svg>
    </a>
  </footer>
</template>

<script setup lang="ts">
import browser from 'webextension-polyfill';
import { reactive, watch, onMounted } from 'vue';
import SettingsRow from './SettingsRow.vue';
import { getDefaultOptions, loadOptions, setOptions } from '../options';
import {objKeysExact} from '../utils';

const options = reactive(getDefaultOptions());
const version = browser.runtime.getManifest().version;

async function notifyContentScript() {
  const tabs = await browser.tabs.query({active: true, currentWindow: true});
  if (tabs.length > 0 && tabs[0].id) {
    browser.tabs.sendMessage(tabs[0].id, 'optionsUpdated');
  }
}

onMounted(async () => {
  const loadedOptions = await loadOptions();
  for (const id of objKeysExact(loadedOptions)) {
    options[id] = loadedOptions[id];
  }

  for (const id of objKeysExact(options)) {
    watch(() => options[id], (value) => {
      setOptions({[id]: value});
      notifyContentScript();

      if (id === 'hideThumbnails' && value == true && !options.hideEpisodeThumbnails) {
       options.hideEpisodeThumbnails = true; 
      }
    });
  }
});
</script>
