html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #1a1d29;
  width: 300px;
}

$switch-slider-width: 43px;
$switch-slider-height: 15px;
$switch-height: 22px;

input[type="checkbox"] {
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"] + .switch {
  width: $switch-slider-width;
  height: $switch-height;
  cursor: pointer;
  position: relative;

  &::before {
    opacity: 1;
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $switch-slider-width;
    height: $switch-slider-height;

    background-color: rgb(75, 78, 90);
    border-radius: 15.5px;
    transition: all 0.2s ease 0s;
  }

  &::after {
    opacity: 1;
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $switch-height;
    height: $switch-height;

    background-color: rgb(249, 249, 249);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 3px 1px 0px;

    transition: all 0.2s ease 0s;
  }
}

input[type="checkbox"]:checked + .switch {
  &::before {
    background-color: #0072d2;
  }

  &::after {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 2px 0px, rgba(0, 0, 0, 0.05) 0px 3px 1px 0px;
    transform: translate(22px, -50%);
  }
}

input[type="checkbox"]:disabled + .switch {
  &::before {
    background-color: #6c6c6c;
  }
  &::after {
    background-color: #4c4c4c;
  }
}

input[type="checkbox"]:focus,
input[type="checkbox"]:focus-within {
  & + .switch::after {
    outline: 6px solid #4088c478;
  }
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/Inter-Regular.ttf") format("truetype");
}

.settings-section {
  border-radius: 4px;
  border: 1px solid rgb(49, 52, 62);
  margin-bottom: 32px;
  font-family: Inter, sans-serif;
  font-size: 15px;

  .header {
    background-color: #31343e;
    padding: 0.5rem 1rem;
    color: #a8a9ad;
  }

  .settings-row {
    &:not(:first-child) .form-label-wrapper {
      border-top: 1px solid rgb(49, 52, 62);
    }

    .form-label-wrapper {
      display: block;
      padding: 16px 12px;
      cursor: pointer;

      .form-label {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .label {
          color: #f9f9f9;
          margin: 0;
        }
      }

      .metadata {
        margin-top: 8px;
        font-size: 12px;
        color: #cacaca;
      }
    }

    &.disabled {
      .form-label-wrapper {
        .form-label .label {
          color: #585858;
        }

        .metadata {
          color: #4a4a4a;
        }
      }
    }
  }
}

footer {
  color: #a8a9ad;
  text-align: center;
  padding: 2em 0;

  a {
    color: inherit;
  }

  .version {
    margin-top: 1em;
  }
}
