<template>
  <div class="settings-row" :class="{disabled}">
    <label class="form-label-wrapper">
      <div class="form-label">
        <p class="label">{{title}}</p>
        <input type="checkbox" :name="name" v-model="value" :disabled="disabled"/>
        <div class="switch"/>
      </div>
      <div class="metadata" v-if="description"> {{description}}</div>
    </label>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    name: String,
    title: String,
    description: String,
    modelValue: Boolean,
    disabled: Boolean,
  },
  emits: ['update:modelValue'],
  computed: {
    value: {
      get(): boolean {
        return this.modelValue;
      },
      set(value: boolean) {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>
