:root {
  --disney-plus-spoiler-hover-transition-duration: 0.5s;
  --disney-plus-spoiler-text-blur: 6px;
  --disney-plus-spoiler-image-blur: 36px;
  --disney-plus-spoiler-hover-blur: 0px;
}

.disney-plus-spoiler-wrapper {
  .disney-plus-spoiler {
    /* don't allow mouse events on obscured content */
    & > * {
      pointer-events: none;
    }
  }

  &.disney-plus-spoiler-no-blur {
    position: relative;

    .disney-plus-spoiler:not(img) {
      display: none;
    }

    .disney-plus-spoiler:not(img) + .disney-plus-spoiler-label {
      opacity: 1;
      transition: opacity ease-in-out;
    }

    &:hover .disney-plus-spoiler:not(img) + .disney-plus-spoiler-label {
      transition-duration: var(--disney-plus-spoiler-hover-transition-duration);
      opacity: 0;
    }

    img.disney-plus-spoiler {
      opacity: 0 !important;
    }
  }

  &.disney-plus-spoiler-blur {
    .disney-plus-spoiler:not(img) {
      transition: filter ease-in-out;
      filter: blur(var(--disney-plus-spoiler-text-blur));

      &:hover {
        transition-duration: var(
          --disney-plus-spoiler-hover-transition-duration
        );
        filter: blur(var(--disney-plus-spoiler-hover-blur));
      }
    }

    .disney-plus-spoiler:not(img) + .disney-plus-spoiler-label {
      z-index: -1;
      opacity: 1;
      transition: opacity ease-in-out;
    }

    &:hover .disney-plus-spoiler:not(img) + .disney-plus-spoiler-label {
      transition-duration: var(--disney-plus-spoiler-hover-transition-duration);
      opacity: 0;
    }

    img.disney-plus-spoiler {
      filter: blur(var(--disney-plus-spoiler-image-blur)) brightness(0.5);
    }
  }

  &.disney-plus-spoiler-has-image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .disney-plus-spoiler-label {
    color: white;
    font-family: Avenir-World-for-Disney-Regular, sans-serif;
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 1.6;
    font-weight: bold;
    text-align: left;
  }
}

.image-container .disney-plus-spoiler-wrapper {
  inset: 0px;
  position: absolute;
}

.image-container .disney-plus-spoiler-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 1em;
  text-align: center;
}

div:not([data-gv2containerkey="details_episodes"])
  > [data-testid="season-shelf"]
  [data-program-type="episode"] {
  .basic-card .disney-plus-spoiler-label {
    position: inherit;
    top: auto;
    left: auto;
    transform: none;
    // display: none;
    text-align: left;
    padding: 0;
  }

  .basic-card .disney-plus-spoiler:not(img) {
    display: none;
  }
}

[data-gv2containerkey="details_episodes"]
  [data-program-type="episode"]
  #asset-metadata
  + .disney-plus-spoiler-label {
  position: absolute;
  bottom: 0;
  padding-top: 2em;
}

.disney-plus-spoiler-option__hideEpisodeThumbnails
  [data-program-type="episode"]
  img.hover-image.disney-plus-spoiler {
  opacity: 0 !important;
}

body:not(.disney-plus-spoiler-option__hideThumbnails) {
  [data-testid="continue-watching"] {
    [data-program-type="episode"] .basic-card {
      &:not(:hover) #asset-metadata .disney-plus-spoiler-label {
        opacity: 0;
      }

      &:hover #asset-metadata .disney-plus-spoiler-label {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// Show movie titles when thumbnails hidden
.disney-plus-spoiler-option__hideThumbnails
  [data-testid="continue-watching"]
  .basic-card
  #asset-metadata
  h5 {
  opacity: 1;
  visibility: visible;
}

// Hide episode titles
.disney-plus-spoiler-option__hideEpisodeTitles
  [data-program-type="episode"]
  .basic-card
  #asset-metadata
  h5 {
  display: none;
}

.disney-plus-spoiler-option__hideThumbnails
  [data-testid="continue-watching"]
  [data-program-type="episode"] {
  .basic-card #asset-metadata {
    // Show episode series when thumbnails hidden
    p:nth-of-type(1) {
      opacity: 1;
      visibility: visible;
    }

    // Hide episode titles
    .disney-plus-spoiler {
      display: none;
    }
  }
}

[data-gv2containerkey="details_extras"] .basic-card .disney-plus-spoiler-label {
  display: none;
}

.disney-plus-spoiler-has-image-hover {
  .disney-plus-spoiler-wrapper,
  &.disney-plus-spoiler-wrapper {
    &.disney-plus-spoiler-blur img {
      filter: blur(var(--disney-plus-spoiler-hover-blur));
    }

    &.disney-plus-spoiler-no-blur img.disney-plus-spoiler {
      opacity: 1 !important;
    }

    .disney-plus-spoiler-label {
      opacity: 0;
    }
  }
}
